<% layout('layouts/boilerplate') %>
  <h1>Edit Accommodation</h1>
  <form action="/accommodations/<%= foundAccommodation._id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="foundAccommodation[title]" value="<%= foundAccommodation.title %>">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="foundAccommodation[location]" value="<%= foundAccommodation.location %>">
    </div>
    <button>Update Accommodation</button>
  </form>
  <a href="/accommodations/<%= foundAccommodation._id %>">Back To Accommodation</a>