<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyBnB</title>
</head>
<body>
  <h1>All Accommodations!</h1>
  <div>
    <a href="/accommodations/new">Add Accommodation</a>
  </div>
  <ul>
    <% for (let accommodation of accommodations) { %>
      <li> <a href="/accommodations/<%= accommodation._id %>"> <%= accommodation.title %> </a> </li>
    <% } %>
  </ul>
</body>
</html>