<% layout('layouts/boilerplate') %>
  <form action="/accommodations" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="accommodation[title]">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="accommodation[location]">
    </div>
    <button>Add Accommodation</button>
  </form>
  <a href="/accommodations">All Accommodations</a>