<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyBnB</title>
</head>
<body>
  <h1><%= accommodation.title %></h1>
  <h2><%= accommodation.location %></h2>
  <p>
    <a href="/accommodations/<%= accommodation._id %>/edit">Edit</a>
  </p>
  <p>
    <form action="/accommodations/<%= accommodation._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </p>
  <footer><a href="/accommodations">All Accommodations</a></footer>
</body>
</html>